.bouton {
    border: 1px #6A6A6A solid;
    color: #000;
}

.bouton:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

footer,
.biographie,
.page,
.presentation {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
}